header {
 width: 100%;
 position: absolute;
 top: 30px;
 left: 20px;
}

.header__container {
 justify-content: space-between;
 display: flex;
 align-items: center;
 
}

@media screen and (min-width: 1200px) {
.nav 
{
  
 display: flex;
 align-items: center;
 padding-left: 16px;
}
.nav ol{
display: flex;
list-style: none;
}

.nav ol li {margin: lem;}
.nav ol li a{
  text-decoration: none;
  padding: 0.2em 1.2em 0.9em 1.2em;
  border-radius: 10px 10px 0 0;
  color: #D1B06B;
  transition: all .4s;
  position: relative;
  z-index: 1;
  font-size: 16px;
} 
.nav ol li a::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 41px; 
  border-radius: 10px 10px 0 0;
  background: transparent;
  transform-origin: bottom;
  background: linear-gradient( #cab892, #c7b285, #D1B06B);
  transform: scaleY(0.05);
  z-index: -1; 
  transition: all .4s;

}
.nav ol li a:hover::before {
  transform: scaleY(1.1);
  
}
.nav ol li a:hover {
  color: white;
  

}
}

.hero {
  height: 600px;
  padding-top: 140px;
  padding-left: 16px;

  @media screen and (min-width: 1200px) {
    padding-left: 30px;
    display: flex;
  }
}

.hero__title {
 padding: 40px 30px;
 right: 0.45%;
 margin-top: 0;
 font-family: 'Cormorant Garamond';
 font-style: normal;
 font-size: 32px;
 line-height: 34px;
 /* or 120% */
 
  color: #FFFFFF;
  text-shadow: 0px 1px 1px #D1B06B;

  @media screen and (min-width: 1200px)
   {display: flex;
    justify-content: left;
    align-items: center;
      font-size: 65px;
      line-height: 78px;
      letter-spacing: 0.4px;
    }

}

.hero__info {
 display: flex;
 width: px;
 padding: 40px 30px;
 position: absolute;
 left: auto;
 font-family: 'Cormorant Garamond';
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 20px;
  /* or 180% */
 letter-spacing: 1px;
 color: #D1B06B;

 @media screen and (min-width: 1200px) {
    width: 500px;
    height: 150px;
    padding-top: 180px;
    padding: 100px;
  }
}

.hero__img {
position: absolute;
background-image: url(../images/ts2.png);
background-repeat: no-repeat;
background-size: contain;
background-position: bottom;
height: 350px;
left: 40px;
right: -460px;
top: 250px;


@media screen and (min-width: 1200px) {
   
    padding-left: 100px;
    height: 630px;
    left: 52%;
    right: 0%;
    padding-bottom: 0;
    top: 0%;
  }

}

.button {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* or 180% */
  letter-spacing: 1px;
  background-color:  #D1B06B;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 20px;
  height: 30px;
  width: 130px;
  border: none;
  
  &:hover,
  &:focus {
    color: #D1B06B;
    background-color: transparent;
  }
}

