header {
 width: 100%;
 position: absolute;
 top: 30px;
 left: 20px;
}

.header__container {
 justify-content: space-between;
 display: flex;
 align-items: center;
 
}

.nav 
{
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.nav__list
{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 30px;
 text-transform: uppercase;
 font-size: 20;
 color: #FFFFFF;
 }


.hero {
height: 800px;
display: flex;
padding-top: 200px;
}

.hero__title {
 display: flex;
 justify-content: left;
 align-items: center;
 gap: 30px;
 height: 156px;
 left: 0%;
 right: 0.45%;
 top: 97.86px;
 
 font-family: 'Cormorant Garamond';
 font-style: normal;
 font-weight: 400;
 font-size: 65px;
 line-height: 78px;
 /* or 120% */
 letter-spacing: 0.4px;
  color: #FFFFFF;

}

.hero__info {
 display: flex;
 width: 500px;
 height: 150px;
 padding: 130px 0;
 position: absolute;
 left: 10%;
 font-family: 'Outfit';
 font-style: normal;
 font-weight: 400;
 font-size: 22px;
 line-height: 40px;
  /* or 180% */
 letter-spacing: 0.4px;
 color: #D1B06B;
}

.hero__img {
 position: absolute;
 
}


