<section class="container about" id="#Про нас">
 <div class="container">
  <div class="left__title">
     <p class="about__text">Надійність – головний критерій нашої роботи </p>
    </div>
    <div class="right__title">
     <p class="about__text2">Адвокатське об’єднання «Cягровець & партнери» надає юридичні послуги фізичним і юридичним особам у рамках українського законодавства і права. 
      <br> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus quis quaerat, magni nulla reiciendis perferendis? Nostrum, obcaecati vitae odit molestias dolorem rerum a quas vero asperiores quia eius, libero officia. 
      <br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit maiores voluptatem accusantium natus, odio, eligendi explicabo exercitationem facilis ipsum quidem a dolor? Eos, corporis! Aliquid sed ipsum sapiente exercitationem veritatis?</p>
     </div>
 </div>
</section>