<footer class="footer" id="#Контакти">
 <div class="container">
  <div class="footer__adress">
    <a class="footer__street-address" href="https://goo.gl/maps/Z6sbrhyPWb495Rzy5" target="blank_"
     rel="noopener nofollow noreferrer">
     м. Одеса, пр-т Гагаріна, 12 офіс 506
    </a>
    <ul class="footer-menu">
     <li class="footer-menu__item">
      <a class="footer-menu__link" href="mailto:info@example.com">info@example.com</a>
     </li>
     <li class="footer-menu__item">
      <a class="footer-menu__link" href="tel:+380991111111">+38 099 111 11 11</a>
     </li>
    </ul>
   </address>
  </div>

 </div>

 <div class="footer-copyright">
 <b class="footer-copyright__item">
  &#169; 2022 - AO Сягровець & партнери. <br> Всі права захищені.
 </b>
</div>

</footer>