<header id="#Головна">
 <div class="container header__container">
  <div class="nav">
   <ol>
    <li><a href="#Головна">Головна</a></li>
    <li><a href="#Про нас">Про нас</a></li>
    <li><a href="#Послуги">Послуги</a></li>
    <li><a href="#Команда">Команда</a></li>
    <li><a href="#Контакти">Контакти</a></li> 
   </ol>
  </div>
  <div class="nav">
  <ol>
   <li>
    <a href="tel:+380688999898" class="tel-number">+38 (068) 899 98 98</a>
   </li>
  </ol>
  </div>
  <div class="button">
   <button type="button" class="button">
    <span>
     звʼязатись
    </span>
   </button>
  </div>
        <div class="burger-wrapper">
           <button class="burger-menu" data-menu-button>
            <span class="burger-menu__item">burger-menu</span>
           </button>
          </div>

 </div>
 </header>

 <section class=" conteiner hero">
  <div class="hero">
   <h1 class="hero__title">
    Адвокатське агенство <br>
    Сягровець & парнери
   </h1>
   <div class="hero__info">
    <p class="hero__text">Ніколи не намагайтесь виправдовуватись перед судом, прокурором або слідчим, зберігайте мовчання та вимагайте присутність адвоката у будь-яких складних для Вас ситуаціях, повяʼязаних з юридичними питаннями </p>
   </div>
  </div>
  <div class="hero__img">
   <h2 class="visually-hidden">Адвокат Тетяна Сягровець</h2>
  </div>
 </section>