<header class="container header__container" id="#Головна">
 <div>
  <div class="nav" id="nav" data-menu>
   <ol class="nav__list navigation--margin-left">
    <li class="nav__item"><a class="nav-menu__link nav-menu__link--active" href="#Головна">Головна</a></li>
    <li class="nav__item"><a class="nav-menu__link nav-menu__link--active" href="#Про нас">Про нас</a></li>
    <li class="nav__item"><a class="nav-menu__link nav-menu__link--active" href="#Послуги">Послуги</a></li>
    <li class="nav__item"><a class="nav-menu__link nav-menu__link--active" href="#Команда">Команда</a></li>
    <li class="nav__item"><a class="nav-menu__link nav-menu__link--active" href="#Контакти">Контакти</a></li> 
   </ol>
  </div>
  <div class="nav__contact">
  <ol>
   <li>
    <a href="tel:+380688999898" class="tel-number">+38 (068) 899 98 98</a>
   </li>
  </ol>
  </div>
  <div class="button">
   <button type="button" class="button">
    <span>
     звʼязатись
    </span>
   </button>
  </div>
<button class="mobile-btn" type="button" data-menu-button aria-expanded="false" aria-controls="mobile-menu">
      <svg width="40" height="40" aria-label="Перемикач мобільного меню">
            <use class="mobile-btn__icon-menu" href="./images/icons.svg#icon-menu"></use>
            <use class="mobile-btn__icon-close" href="./images/icons.svg#icon-menu-close"></use>
      </svg>
</button>
</div>
</header>

 <section class="container header__container">
  <div class="hero">
   <h1 class="hero__title">
    Адвокатське агенство <br>
    Сягровець & парнери
   </h1>
   <div class="hero__info">
    <p class="hero__text">Ніколи не намагайтесь виправдовуватись перед судом, прокурором або слідчим, зберігайте мовчання та вимагайте присутність адвоката у будь-яких складних для Вас ситуаціях, повяʼязаних з юридичними питаннями </p>
   </div>
  </div>
  <div class="hero__img">
   <h2 class="visually-hidden">Адвокат Тетяна Сягровець</h2>
  </div>
 </section>