<!-- Mobile menu -->

<div class="mobile__menu" data-menu>
  <ul class="mob-menu-list">
    <li class="mob-list__item"><a class="mob-list__link" href="#Головна">Головна</a></li>
    <li class="mob-list__item"><a class="mob-list__link" href="#Про нас">Про нас</a></li>
    <li class="mob-list__item"><a class="mob-list__link" href="#Послуги">Послуги</a></li>
    <li class="mob-list__item"><a class="mob-list__link" href="#Команда">Команда</a></li>
    <li class="mob-list__item"><a class="mob-list__link" href="#Контакти">Контакти</a></li>
  </ul>
</div>
<div class="mob-menu-list">
  <ul>
    <li>
      <a href="tel:+380688999898" class="tel-number">+38 (068) 899 98 98</a>
    </li>
  </ul>
</div>


