<!-- Mobile menu -->

<div class="mobile__menu" data-menu>
  <ul class="mob-menu-list">
    <li class="mob-list__item"><a class="mob-list__link" href="#Головна">Головна</a></li>
    <li class="mob-list__item"><a class="mob-list__link" href="#Про нас">Про нас</a></li>
    <li class="mob-list__item"><a class="mob-list__link" href="#Послуги">Послуги</a></li>
    <li class="mob-list__item"><a class="mob-list__link" href="#Команда">Команда</a></li>
    <li class="mob-list__item"><a class="mob-list__link" href="#Контакти">Контакти</a></li>
  </ul>
  <button class="button mobile-btn" type="button" data-buy-now-modal-mobile-open>
    <span class="button__span">
      Задати питання
    </span>
  </button>
</div>



