<section class="container team" id="#Команда">
 <div class="card">
  <div class="card-header">
   <p>Тетяна Сягровець</p>
   <p>Керуючий партнер</p>
  </div>
  <div class="card-body">
   <img src=" " alt="фото адвоката">
  </div>
  <div class="card-footer">
   <i class="card-phone"> tel</i>
   <i class="card-mail">mail</i>
   <i class="card-facebook">FB</i>
  </div>
 </div>
 <div class="card2">
  <div class="card-header">
   <p>Вʼячеслав Уштван</p>
   <p>адвокат</p>
  </div>
  <div class="card-body">
   <img src=" " alt="фото адвоката">
  </div>
  <div class="card-footer">
   <i class="card-phone"> tel</i>
   <i class="card-mail">mail</i>
   <i class="card-facebook">FB</i>
  </div>
 </div>

 <div class="card3">
  <div class="card-header">
   <p>Оксана Гуменюк</p>
   <p>адвокат</p>
  </div>
  <div class="card-body">
   <img src=" " alt="фото адвоката">
  </div>
  <div class="card-footer">
   <i class="card-phone"> tel</i>
   <i class="card-mail">mail</i>
   <i class="card-facebook">FB</i>
  </div>
 </div>
</section>