<section class="container works" id="#Послуги">
 <h2 class="works__title">Юридична допомога у вирішені питань</h2>
 <div>
  <h3>Досудове вирішення спорів та медіація</h3>
 </div>
 <div>
  <h3>Кримінальні справи</h3>
  <p class="works__text">text</p>
 </div>
 <div>
  <h3>Адміністративні справи</h3>
  <p class="works__text">text</p>
 </div>
 <div>
  <h3>Сімейні справи</h3>
  <p class="works__text">text</p>
 </div>
 <div>
  <h3>Представництво</h3>
  <p class="works__text">text</p>
 </div>
</section>